---
layout: content
sidebar: true
name: v-neck t-shirt
price: 1500
attributes:
  - color:
    black
    red
    gray
  - size:
    S
    M 
    L        
---
<amp-state id="product">
  <script type="application/json">
    {      
      {%- for attribute in page.product.attributes -%}
      "selected_{{ attribute }}": "{{ page.product.attributes[attribute].first }}", 
      {%- endfor -%}      
      "price": {{ page.product.price }}
    }    
  </script>
</amp-state>
{% for attribute in page.product.attributes %}
<amp-selector name="{{ attribute }}"
  layout="container"
  [selected]="product.selected_{{ attribute }}"
  on="select:AMP.setState({
    product: {
      selected_{{ attribute }}: event.targetOption
    }
   })">
  {% assign variations = page.product.variations | map: "attributes" | map: attribute | uniq %}
  <ul>
  {% for variation in variations %}
    <li{% if forloop.first %} selected{% endif %} option="{{variation}}">{{variation}}</li>
  {% endfor %}
  </ul>
</amp-selector>
{% endfor %}
<form method="post"
  action-xhr="https://us-central1-cart-991a0.cloudfunctions.net/api/shop/{{ site.github.repository_nwo | url_encode | replace: "/","%2f" }}/cart/"
  target="_top"
  on="submit-success:cart.refresh">
  <input name="cartId"  
    id="cartId"
    type="hidden"
    value="CLIENT_ID(cart)"
    data-amp-replace="CLIENT_ID">
  <input name="itemId"  
    id="itemId"
    type="hidden"
    [value]="product[product.selected_color][product.selected_size].id">
  <input type="submit">
</form>
<button on='tap:sidebar.toggle'>cart</button>

<amp-sidebar id="sidebar" layout="nodisplay" side="right" on="open:cart.refresh">
  <amp-list id="cart"    
    layout="fill"
    src="https://us-central1-cart-991a0.cloudfunctions.net/api/shop/{{ site.github.repository_nwo | url_encode | replace: "/","%2f" }}/cart/?clientId=CLIENT_ID(cart)">
    {% raw %}
    <template type="amp-mustache">
      <div>{{ id }}</div>
    </template>
    {% endraw %}
  </amp-list>
</amp-sidebar>

{{ page.id }}
{{ page.id | sha1 }}


{% comment %}
{%- assign mmmm = page.product.variations | group_by: "attributes.color" -%}
{%- for aaa in mmmm -%}
"{{ aaa.name }}": 
  {
    {%- assign nnn = aaa.items | group_by: "attributes.size"  -%}
    {%- for bbb in nnn -%}
    "{{ bbb.name }}": 
      {{ bbb.items.first | jsonify }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  }{% unless forloop.last %},{% endunless %}
{%- endfor -%}
{% endcomment %}
