---
layout: content
sidebar: true
product:
  id: prod_123456789
  name: t-shirt
  price: 1500
  attributes:
    - color
    - size
  variations:
    - attributes:
        color: black
        size: S
      id: sku_123456789
    - attributes:
        color: black
        size: M
      id: sku_223456789
    - attributes:
        color: black
        size: L
      id: sku_323456789
    - attributes:
        color: gray
        size: S
      id: sku_423456789
    - attributes:
        color: gray
        size: M
      id: sku_523456789
    - attributes:
        color: gray
        size: L    
      id: sku_623456789
---
<amp-state id="product">
  <script type="application/json">
    {
      "price": {{ page.product.price }},
      {%- for attribute in page.product.attributes -%}
      "selected_{{ attribute }}": "{{ page.product.variations.first.attributes[attribute] }}", 
      {%- endfor -%}   
      {%- assign mmmm = page.product.variations | group_by: "attributes.color" -%}
      {%- for aaa in mmmm -%}
      "{{ aaa.name }}": 
        {
          {%- assign nnn = aaa.items | group_by: "attributes.size"  -%}
          {%- for bbb in nnn -%}
          "{{ bbb.name }}": 
            {{ bbb.items.first | jsonify }}{% unless forloop.last %},{% endunless %}
          {% endfor %}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    }    
  </script>
</amp-state>
{% for attribute in page.product.attributes %}
<amp-selector name="{{ attribute }}"
  layout="container"
  [selected]="product.selected_{{ attribute }}"
  on="select:AMP.setState({
    product: {
      selected_{{ attribute }}: event.targetOption
    }
   })">
  {% assign variations = page.product.variations | map: "attributes" | map: attribute | uniq %}
  <ul>
  {% for variation in variations %}
    <li{% if forloop.first %} selected{% endif %} option="{{variation}}">{{variation}}</li>
  {% endfor %}
  </ul>
</amp-selector>
{% endfor %}
<form method="post"
  action-xhr="https://us-central1-cart-991a0.cloudfunctions.net/api/shop/{{ site.github.repository_nwo | url_encode | replace: "/","%2f" }}/cart/"
  target="_top"
  on="submit-success:cart.refresh">
  <input name="cartId"  
    id="cartId"
    type="hidden"
    value="CLIENT_ID(cart)"
    data-amp-replace="CLIENT_ID">
  <input name="itemId"  
    id="itemId"
    type="hidden"
    [value]="product[product.selected_color][product.selected_size].id">
  <input type="submit">
</form>
<button on='tap:sidebar.toggle'>cart</button>

<amp-sidebar id="sidebar" layout="nodisplay" side="right" on="open:cart.refresh">
  <amp-list
    id="cart"
    width="auto"
    height="100"
    layout="fixed-height"
    src="https://us-central1-cart-991a0.cloudfunctions.net/api/shop/{{ site.github.repository_nwo | url_encode | replace: "/","%2f" }}/cart/?clientId=CLIENT_ID(cart)">
    {% raw %}
    <template type="amp-mustache">
      <div>{{ id }}</div>
    </template>
    {% endraw %}
  </amp-list>
</amp-sidebar>
