:root {
  --product_grid-template-columns: 1fr 1fr;
  --product_grid-template-areas: 
    "header header" 
    "image properties"
    "image selectors"
    "image add-to-cart"
    "image rule"
    "image features"
    "body body";
}


@media (max-width: 1024px) {
  :root {
    --product_grid-template-columns: 1fr;
    --product_grid-template-areas: 
      "header" 
      "image"
      "properties"
      "selectors"
      "add-to-cart"
      "rule"
      "features"
      "body";
  }
}

.product {
  display: grid;
  grid-template-columns: var(--product_grid-template-columns);
  grid-auto-rows: auto;
  grid-template-areas: var(--product_grid-template-areas)
}

.product__rule {
  grid-area: rule; 
}

.product__selectors {
  grid-area: selectors;
}

.product__image {
  grid-area: image;
}

.product__features {
  grid-area: features; 
}

.product__carousel-preview > button {
  max-width: 90px;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.product__add-to-cart-button {
  grid-area: add-to-cart;
}

.product__add-to-cart-button input[type=submit] {
  color: var(--colors__light);
  background-color: var(--colors__highlight);
  outline: none;
  border: solid var(--colors__highlight) 1px;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0;
  text-transform: uppercase;
}

.product__selectors ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.product__selectors ul > li {
  padding: 4px 8px;
  margin: 0;
  text-transform: uppercase;
  color: var(--colors__highlight);
  border: solid var(--colors__highlight) 1px;
}

.product__selectors ul > li:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.product__selectors ul > li:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.product__selectors ul > li[selected] {
  color: var(--colors__light);
  background-color: var(--colors__highlight);
  outline: none;
}

