.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: 
    "header header" 
    "image properties"
    "image selectors"
    "image features"
    "body body";
}

.product__selectors {
  grid-area: selectors;
}

.product__image {
  grid-area: image;
}

.product__features {
  grid-area: features; 
}

.product__carousel-preview > button {
  max-width: 90px;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.product__selectors ul {
  list-style: none;
  display: flex
}

.product__selectors ul > li {
  padding: 4px 8px;
  outline: none;
  color: var(--colors__highlight);
  border: solid var(--colors__highlight) 1px;
}

.product__selectors ul > li[selected] {
  color: var(--colors__light);
  background-color: var(--colors__highlight);
}
